
body {
 background-color:#deb887;
 color:antiquewhite;
}

header{
 color:antiquewhite;
 padding:50px;
 text-align: center;
 margin: 15px;
 background: rgda(255,255,255,0.15);
 border-radius: 20px;
 backdrop-filter: blur(12px);
 box-shadow: 0 8px 25px rgba(0,0,0,0.5);
 background-image: url(image/t20.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

header h1{
 font-size: 60px;
 font-weight: bold;
 color:#fff;
 text-shadow: 6px 6px 15px rgba(0,0,0,0.8);
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
 overflow: hidden;
 background-color:#40476b;
 background:linear-gradient(120deg, #505466, #02010e);
 backdrop-filter: blur(10px);
 background: rgbe(255,255,0.2);
 padding: 15px;
 border-radius: 12px;
 margin: 10px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 15);
}

.nav-bar ul{
 display: flex;
 justify-content: center;
  gap: 35px;
 list-style: none;
}

.nav-bar a{
 float: right;
 display: block;
 color: #bbb;
 text-align: center;
 padding: 20px;
 text-decoration: none;
 font-size:25px;
 font-weight: bold;	
 transition: 0.3s;
 border-radius: 10px;
}

.nav-bar a:hover{
 background:linear-gradient(160deg, #a0a0a0, #383838);
 transform: scale(1.1);
 color:#fff;
}

.box{
 background-image: url(image/t15.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
 border-radius: 20px;
 padding: 55px;
 border-radius: 15px;
 transition: 0.3s;
 box-shadow: 0 4px 25px rgb(0, 0, 0, 0.3);
}

.container {
 display : flex;
 flex-wrap: wrap;
 gap :30px;
 justify-content: space-around;
}

.card {
 width : 260px;
 background-color:rgb(11, 50, 82);
 padding: 10px;
 border-radius: 15px;
 box-shadow: 5px 10px 20px #000000;
 transition: 1s;
 text-align : center;
 cursor: pointer;
 background-image: url(image/t12.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

.card:hover{
 box-shadow: 8px 8px 5px #fdf1d5;
 background-image: url(image/t17.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center center;
}

.card h3{
 margin-bottom: 10px;
 color:antiquewhite;
 font-size: 20px;
 font-weight: bold;
}

.card p{
 font-size: 14px;
 color:antiquewhite;
 line-height: 1.7;
 font-size: 15px;
 font-weight: bold;
}

.card img{
 display: block;
 width: 230px;
 height: 260px;
 margin: 0 auto;
 border-radius: 10px;                        
 border-radius: 10px;
 display: block;
 object-fit:cover;
 margin-bottom: 10px;
 box-shadow: 5px 5px 25px rgba(0,0,0,1);
 transition: transfrom 0.3s ease, box-shadow 0.3s ease;
}

.card img:hover{
 transform: scale(1.06);
 box-shadow: 0 10px rgba(1,1,1,0.2);
 cursor: pointer;
}

.more-content{
 text-align:center;
 box-align: left;
 width: 150px;
 height: 5px;
 padding: 25px 20px;
 border-radius: 40px;
 margin: 0 auto;
 font-weight: bold;
 background:linear-gradient(160deg, #868686, #000000);
 transform: scale(1.1);
 font-size: 20px;
 box-shadow: 0 0 15px #ffffff;
 cursor: pointer;
 transition: transform 0.3s, box-shadow 0.3s;
}

.more-content:hover{
 box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
 transform: scale(1.2);
}
	
.more-content a{text-decoration: none; color:#ffffff}
.more-content a:hover{color:#000000;}